<app-progress-stepper
  [steps]="this.taskService.steps | async"
  [isLoading]="isLoading"
  (activateTask)="activateTask($event)"
  (taskChanged)="taskChanged($event)"
></app-progress-stepper>
<!-- <button mat-raised-button color="primary" (click)="completeTask()" class="btn">
  Mark Step Complete
</button> -->
<button mat-raised-button color="accent" (click)="setCashDeal()" class="btn">
  Set Cash Only (reduce steps)
</button>
<button mat-raised-button color="warn" (click)="resetSteps()" class="btn">
  Reset Steps
</button>

<div *ngIf="debug">
  <p>Task State:</p>
  <p>{{ this.taskService.currentStep | json }}</p>
</div>
