<div class="bar">
  <div class="btn-container">
    <button class="btn-advance" (click)="advance()">Next</button>
    <button class="btn-previous" (click)="previous()">Previous</button>
    <button class="btn-previous" (click)="previous()">Back</button>
    <button type="submit" class="btn-submit" appSubmit>Submit</button>
    <!-- <button
    *ngIf="!(navBtnService.prevState$ | async).hidden"
    class="btn-previous"
    (click)="previous()"
  >
    Previous
  </button> -->
    <!-- <ng-container
    *ngIf="
      !(navBtnService.advState$ | async).isSubmit;
      then advanceBtn;
      else submitBtn
    "
  ></ng-container> -->
  </div>
</div>
